.row-modify{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 0px;

}

.scale-on{
    transition: all .2s ease-in-out;
}

.scale-on:hover{
    transform: scale(1.2);
}