<!--Footer-->
<footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="pt-2">
        <h5>Tasty News</h5>
    </div>
    <!--/.Call to action-->

    <hr class="my-1">

    <!-- Social icons -->
    <div class="pb-4">
        <a href="https://www.facebook.com/mateusz.wrobel.796/" target="_blank">
            <i class="fab fa-facebook-f mr-3"></i>
        </a>

        <a href="https://www.youtube.com/channel/UCqbh_cQEJo81E6RvjHllU5w?view_as=subscriber" target="_blank">
            <i class="fab fa-youtube mr-3"></i>
        </a>

        <a href="https://github.com/mateuszwwwrobel" target="_blank">
            <i class="fab fa-github mr-3"></i>
        </a>

    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
        © 2021 Copyright:
        <a href="https://github.com/mateuszwwwrobel" target="_blank"> Mateusz Wrobel</a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->

