<!--Main Navigation-->
<header>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
        <div class="container">
            <div class="float-left">
                <!-- Brand -->
                <a class="navbar-brand waves-effect mr-4 scale-on" href="{% url 'core:home' %}">
                    <strong class="blue-text">Tasty News</strong>
                </a>
                <a class="navbar-brand waves-effect scale-on" href="{% url 'core:statistics' %}">
                    <strong class="blue-text">Statistics</strong>
                </a>
            </div>
            <div class="float-right">
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a href="https://github.com/mateuszwwwrobel/"
                           class="nav-link waves-effect" target="_blank">
                            <i class="fab fa-github scale-on"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.facebook.com/mateusz.wrobel.796/" class="nav-link waves-effect"
                           target="_blank">
                            <i class="fab fa-facebook-f scale-on"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.youtube.com/channel/UCqbh_cQEJo81E6RvjHllU5w?view_as=subscriber"
                           class="nav-link waves-effect" target="_blank">
                            <i class="fab fa-youtube scale-on"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->

</header>
<!--Main Navigation-->